@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

body {
  margin: 0;
  font-family: "Tektur", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
